
#slideContent h1 span{
    font-size: 90px;
    color: #fff;
}

#slideContent h2 span{
    font-size: 40px;
    color: #eee;
}
#slideContent li{
    color: #eee;
}

#slideContent {
    background-color: #000000;
    color: #eee;
}